# Raw instrument files - too large for git
*.mzML
*.mzXML
*.RAW

# Generated output files - recreated by pipeline
data/processed/*.xlsx
data/processed/*.csv

# Excel temp files
~$*.xlsx

# Python cache
__pycache__/
*.pyc